[Unit]
Description=QQ Bot (Napcat/NTQQ)
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/Napcat

# 启动命令
ExecStart=/usr/bin/xvfb-run -a /root/Napcat/opt/QQ/qq --no-sandbox --disable-gpu disable-software-rasterizer --disable-features=UseOzonePlatform -q 3408240018

Restart=always
RestartSec=3

# ===================
#       资源限制
# ===================
CPUQuota=35%
MemoryMax=600M

# IO 限制（防止磁盘读写打爆）
IOSchedulingClass=best-effort
IOSchedulingPriority=7

# 防止产生子进程泄漏
KillMode=process

# 让 systemd 管理日志，不让它刷爆 disk
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
