spring:
  application:
    name: NullBot
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/nullbot  # 本地部署
    # url: jdbc:mysql://nullbot-mysql:3306/nullbot  # 容器化部署
    # url: jdbc:mysql://172.17.0.1:3306/nullbot  # 容器化部署但MySql在宿主机时
    username:
    password:
  api:
    base-url: http://nullbot.zincoid.online/api  # OSS 配置

server:
#  address: 127.0.0.1  # 仅监听本地回环
  port: 8080
  tomcat:
    max-swallow-size: -1  # -1 表示不限制 默认 2MB
    max-http-form-post-size: 1073741824  # 1GB 单位: Byte
    connection-timeout: 300000  # 5 Min
    max-connections: 10000
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,text/css,application/
  max-http-request-header-size: 65536

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml

jwt:
  location: classpath:secret/JwtSignKey.jks  # .jks 密钥文件路径
  alias:
  password:
  tokenTTL: 24h

logging:  # 可移入 logback.xml 配置
  file:
    name: /root/Nullbot/output.log  # 日志路径
#  level:
#    root: INFO
#    com.zincoid.nullbot: WARN

chrome:
    driver-auto: false
    # 在 Docker 环境下指向 /root/Nullbot/driver/chromedriver 且容器内无该文件时
    # 将使用由 Dockerfile.base 构建的 nullbot-jre-chrome:21 环境中的内置驱动
    driver-path: /root/Nullbot/driver/chromedriver  # Linux
#    driver-path: src/test/driver/chromedriver.exe  # Windows
    max-retries: 3
    load-timeout: 10

shiro:
  ws:
    server:
      enable: true
      url: /NullBot
    timeout: 20  # 10
    max-binary-message-buffer-size: 5120000
    max-text-message-buffer-size: 512000
    access-token:
  interceptor: interceptor.com.zincoid.nullbot.BotInterceptor
  limiter:
    enable: true
    rate: 10
    capacity: 30
    awaitTask: true
    timeout: 20  # 10
#  task-pool:  #  内置线程池
#    core-pool-size: 10
#    queue-capacity: 200
#    keep-alive-time: 10
#    max-pool-size: 30
#    thread-name-prefix: "ShiroTaskPool-"

nullbot:
  bot-id:  # 机器人账号
  admin-id:  # 管理账号
  log-id:  # 管理群聊
  command:
    prefix: /
    rate-limit:
      enabled: true
  file:
    storage:
      # 网页文件管理根目录
      file-directory: /root/Nullbot/file
      # 以下路径需选择管理根下子目录
      config-path: /root/Nullbot/file/config  # 可配置文件 - 群设置: Settings.csv
      resource-path: /root/Nullbot/file/resource  # 资源文件夹 - ai/meme/*, endfield/public或版本文件夹/*, pubg/*, duel/data.csv, duel/icon/*.png
      temp-path: /root/Nullbot/file/temp
      image-path: /root/Nullbot/file/image
      video-path: /root/Nullbot/file/video
      audio-path: /root/Nullbot/file/audio

  ai:
    deepseek:
      api-url: https://api.deepseek.com/chat/completions
      api-key:
      model: deepseek-v4-flash
      max-history-length: 50
      max-monitor-length: 100
      max-tokens: 250
      default-system-message: 你是一只猫娘，你的名字叫Null。
    tts:
      api-url: https://gsv2p.acgnai.top
      api-key:
      version: v4
      model_name: 明日方舟-中文-羽毛笔
      prompt_text_lang: 中文
      text_lang: 中文
      emotion: 默认
