spring:
  application:
    name: NullBot
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB
  datasource:  # 数据库配置
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/nullbot  # 本地部署
    # url: jdbc:mysql://nullbot-mysql:3306/nullbot  # 容器部署
    # url: jdbc:mysql://172.17.0.1:3306/nullbot  # 宿主数据库
    username:
    password:
  api:
    base-url: http://localhost:8080/api  # 后端 Url (OSS使用)

server:
  port: 8080
  tomcat:
    max-swallow-size: -1
    max-http-form-post-size: 1073741824
    connection-timeout: 300000
    max-connections: 10000
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,text/css,application/
  max-http-request-header-size: 65536

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml

jwt:  # jks 密钥配置
  location: classpath:secret/JwtSignKey.jks
  alias:
  password:
  tokenTTL: 24h

logging:  # 可移入 logback.xml 配置
  file:
    name: ./output.log  # 日志路径
  level:
    root: INFO
    com.zincoid.nullbot: INFO  # 日志级别

shiro:
  ws:
    server:
      enable: true
      url: /napcat  # Ws 服务端端点
    timeout: 20
    max-binary-message-buffer-size: 512000
    max-text-message-buffer-size: 512000
    access-token:  # NapCat Ws 鉴权口令
  interceptor: com.zincoid.nullbot.bot.interceptor.BotInterceptor
  limiter:
    enable: true
    rate: 10
    capacity: 30
    awaitTask: true
    timeout: 20
#  task-pool:  # Shiro 内置线程池 (暂不使用)
#    core-pool-size: 10
#    queue-capacity: 200
#    keep-alive-time: 10
#    max-pool-size: 30
#    thread-name-prefix: "ShiroTaskPool-"

nullbot:
  bot-id:  # 机器人账号
  admin-id:  # 管理员账号
  log-id:  # 日志用群聊
  command:
    prefix: /  # 指令前缀
    limit: true  # 指令限速

file:
  init: true  # 启动时是否文件同步
  storage:
    # 文件管理根目录
    file-directory: /root/Nullbot/file
    # 管理根下子目录
    # config-path 下可配置文件:
    # - 持久化群设置: Settings.csv
    config-path: /config
    # resource-path 下需资源文件:
    # - AI表情包: ai/meme/*
    # - 终末地资源: endfield/public或版本号/*
    # - PUBG地图: pubg/固定图片
    # - 斗蛐蛐资源: duel/data.csv, duel/icon/*.png
    resource-path: /resource
    temp-path: /temp
    image-path: /image
    video-path: /video
    audio-path: /audio

ai:
  deepseek:  # DeepSeek API
    api-url: https://api.deepseek.com/chat/completions
    api-key:
    model: deepseek-v4-flash
    max-history-length: 50
    max-monitor-length: 100
    max-tokens: 750
    default-system-message: 你是一只猫娘，你的名字叫Null。
  tts:  # TTS API
    api-url: https://gsv2p.acgnai.top
    api-key:
    version: v4
    model_name: 明日方舟-中文-羽毛笔
    prompt_text_lang: 中文
    text_lang: 中文
    emotion: 默认

chrome:
  driver-auto: false  # 是否自动下载 ChromeDriver
  # 注: Docker 环境下指向 /root/Nullbot/driver/chromedriver 且容器内无该文件时
  # 将使用由 Dockerfile.base 构建的 nullbot-jre-chrome:21 环境中的内置驱动程序
  driver-path: ./chromedriver  # Linux
  # driver-path: ./chromedriver.exe  # Windows
  max-retries: 3
  load-timeout: 10
