spring:
  application:
    name: NullBot
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/NullBot
    username: root
    password:

server:
#  address: 127.0.0.1  # 仅监听本地回环
  port: 8080
  tomcat:
    max-swallow-size: -1  # -1表示不限制，默认2MB
    max-http-form-post-size: 1073741824  # 1GB，单位字节
    connection-timeout: 300000  # 5分钟
    max-connections: 10000
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,text/css,application/
  max-http-request-header-size: 65536

#logging:
#  level:
#    root: INFO
#    org.bot.nullbot: WARN

shiro:
  ws:
    server:
      enable: true
      url: /NullBot
    timeout: 20  # 10
    max-binary-message-buffer-size: 5120000
    max-text-message-buffer-size: 512000
    access-token: mtHOn@THXxr*6cCb
  limiter:
    enable: true
    rate: 10
    capacity: 30
    awaitTask: true
    timeout: 20  # 10
#  task-pool:
#    core-pool-size: 10
#    queue-capacity: 200
#    keep-alive-time: 10
#    max-pool-size: 30
#    thread-name-prefix: "ShiroTaskPool-"

nullbot:
  bot-id:
  # 默认功能启用状态
  image-collect: false
  message-collect: false  # 使用AI Monitor模式及Recall Detect功能 需启用该项
  keyword-detect: true
  poke-detect: true
  recall-detect: false
  command:
    prefix: /
    rate-limit:
      enabled: true
      capacity: 25
      refill: 10
      scope: group
  file:
    storage:
      file-directory: /root/Nullbot/file  # 网页文件管理根目录
      temp-path: /root/Nullbot/file/temp
      image-path: /root/Nullbot/file/image
      video-path: /root/Nullbot/file/video
      audio-path: /root/Nullbot/file/audio
  user-accesses:  # ID: Level 已持久化至数据库 (弃用)
  group-accesses:  # ID: Level 已持久化至数据库 (弃用)

ai:
  deepseek:
    api-key:
    api-url: https://api.deepseek.com/chat/completions
    max-history-length: 50
    max-monitor-length: 200
    max-tokens: 500
    system-message:
      group:
      personal:
      monitor:
