spring:
  application:
    name: NullBot
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/NullBot
    username:
    password:

server:
#  address: 127.0.0.1  # 仅监听本地回环
  port: 8080
  tomcat:
    max-swallow-size: -1  # -1表示不限制 默认2MB
    max-http-form-post-size: 1073741824  # 1GB 单位字节
    connection-timeout: 300000  # 5Min
    max-connections: 10000
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,text/css,application/
  max-http-request-header-size: 65536

jwt:
  location: classpath:key/JwtSignKey.jks  # .jks 密钥文件路径
  alias:
  password:
  tokenTTL: 24h

#logging:
#  level:
#    root: INFO
#    org.bot.nullbot: WARN

chrome:
    driver-auto: false
    driver-path: /root/Nullbot/file/driver/chromedriver
#    driver-path: src/test/testFile/driver/chromedriver.exe
    max-retries: 3
    load-timeout: 10

shiro:
  ws:
    server:
      enable: true
      url: /NullBot
    timeout: 20  # 10
    max-binary-message-buffer-size: 5120000
    max-text-message-buffer-size: 512000
    access-token:
  limiter:
    enable: true
    rate: 10
    capacity: 30
    awaitTask: true
    timeout: 20  # 10
#  task-pool:
#    core-pool-size: 10
#    queue-capacity: 200
#    keep-alive-time: 10
#    max-pool-size: 30
#    thread-name-prefix: "ShiroTaskPool-"

nullbot:
  bot-id:
  admin-id:
  default:  # 默认群设置
    # Limit
    limit-scope: Group
    limit-capacity: 25
    limit-refill: 10
    # AI - Basic
    chat-scope: group
    anti-injection: true
    thinking: false
    voice: false
    embedding: true
    embedding-auth: false
    custom: false
    # AI - AutoReply
    auto-reply: false
    reply-frequency: 0.02
    # Monitor
    image-collect: false
    message-collect: true  # 某些功能需启用该项 如: AI Monitor/Recall Detect
    keyword-detect: true
    poke-detect: true
    recall-detect: false
    # Guess
    guess-ratio: 0.1
    guess-padding: 250
  command:
    prefix: /
    rate-limit:
      enabled: true
  file:
    storage:
      # 网页文件管理根目录
      file-directory: /root/Nullbot/file
      # 以下路径需选择管理根下子目录
      config-path: /root/Nullbot/file/config  # 可配置文件 - 群设置: Settings.csv
      resource-path: /root/Nullbot/file/resource  # 内部资源文件夹 - ai/meme, endfield, pubg
      temp-path: /root/Nullbot/file/temp
      image-path: /root/Nullbot/file/image
      video-path: /root/Nullbot/file/video
      audio-path: /root/Nullbot/file/audio
#      file-directory: ${user.dir}/src/main/resources/upload
#      config-path: src/main/resources/file/config
#      resource-path: src/main/resources/file/resource
#      temp-path: src/main/resources/file/temp
#      image-path: src/main/resources/file/image
#      video-path: src/main/resources/file/video
#      audio-path: src/main/resources/file/audio
  ai:
    deepseek:
      api-url: https://api.deepseek.com/chat/completions
      api-key:
      max-history-length: 50
      max-monitor-length: 100
      max-tokens: 250
      default-system-message: 你是一只猫娘！
    tts:
      api-url: https://gsv2p.acgnai.top
      api-key:
      version: v4
      model_name: 明日方舟-中文-羽毛笔
      prompt_text_lang: 中文
      text_lang: 中文
      emotion: 默认
