<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pucci</title>
    <style>
        body {
            margin: 0;
            background: white;
        }

        #wrap {
            position: relative;
            width: 618px;
            height: 916px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body>
<div id="wrap" th:styleappend="|background-image: url('${background}')|">
    <div style="position:absolute;left:227px;top:70px;width:86px;height:93px;font-family:Arial;font-size:20px;color:#000;text-align:left;-webkit-text-stroke:1px #000;text-stroke:1px #000"
         th:text="${text1}">text1
    </div>
    <div style="position:absolute;left:179px;top:223px;width:85px;height:97px;font-family:Arial;font-size:20px;color:#000;text-align:left;-webkit-text-stroke:1px #000;text-stroke:1px #000"
         th:text="${text2}">text2
    </div>
    <div style="position:absolute;left:60px;top:453px;width:293px;height:143px;font-family:Arial;font-size:40px;color:#000;text-align:center;-webkit-text-stroke:1px #000;text-stroke:1px #000"
         th:text="${text3}">text3
    </div>
</div>
</body>
</html>
